body {
  font-size: 16px;
  margin: 5%;
}
h1 {
  font-size: 32px;
  text-align: center;
}
h2 {
  font-size: 20px;
}

img {
    max-width: 100%;
}

figure {
    margin: 20px 5px;
}

@media screen and (min-width: 800px) {
  body {
    background-color: rgb(153, 163, 238);
    font-size: 20px;
  }

  figure {
    display: flex;
    flex-wrap: wrap;
  }

  img {
    max-width: 200px;
    display: flex;
    flex-direction: row;
  }
}