h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

ul {
    font-style: italic;
    line-height: 15px;
    text-align: center;
    text-decoration:purple;
}

#amarelo{
    color:yellow
}

#vermelho {
    color:red;
}

#marrom {
    color: brown;
}